.bg-image{
  display: flex;
  background-size: cover;
  background-image: url(./img/open-road.jpg.jpg);
  height: 100vh;
  background-position: center bottom;
  background-attachment: fixed
  
}

.hero-text{
  display: flex;
 color: white;
 text-shadow: 0 0 5px white;
}

@media only screen and (min-width: 600px){



}
