.bg-image{
  display: flex;
  background-size: cover;
  background-image: url(./img/open-road.jpg.jpg);
  height: 100vh;
  background-position: center bottom;
  background-attachment: fixed
  
}

.hero-text{
  display: flex;
 color: white;
 text-shadow: 0 0 10px black;
}

.search-bar{
  display: flex;
  align-items: center;
}

.fTop{
  position: fixed;
  left: 2rem;
  top: 0
}

.fTop2{
  position: fixed;
  top: 3rem;
  left: 2rem
}